[Desktop Entry]
Name=proxphish web
Exec=sh /var/www/proxphish/__ROOT__/start-web.sh
Terminal=false
Icon=/var/www/proxphish/logo.png
Type=Application
Encoding=UTF-8
Categories=08-exploitation-tools
